body {
	font-family: sans-serif;
	font-size: 20px; 
	color: white;
	background-color: gray; 
	margin: 1;
	padding: 0;
}

nav {
	list-style-type: none;
	margin: 1;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

nav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	background-color: black;
}

#my_info {
	float: left;
}

#interesting_fact {
	float: left;
}

#basic_info {
	margin-top: 50px;
	float: left;
}

#selfie {
	margin-right: 200px;
	float: right;
	border-style: solid;
	border-color: black;
}

#job_description {
	width: 20%;
	float: left;
}

#my_ideal_job {
	width: 80%;
	float: right;
}

#personality {
	float: left;
}

#education {
	float: right;
}

#creativity {
	margin-right: 180px;
	float: right;
}

#interpretation {
	float: left;
}

#img {
	border-style: solid;
	border-color: black;
}
